{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'food_hub/css/product_list.css' %}">
  <link rel="stylesheet" href="{% static 'food_hub/css/layout/tags.css' %}">
  <link rel="stylesheet" href="{% static 'food_hub/css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'food_hub/css/search_bar.css' %}">
{% endblock %}
{% block content %}
<div class="search-bar-fixed">
  <form action="{% url 'product_search' %}" method="get">
    <div class="input-wrapper">
      <input type="text" name="query" placeholder="Введите запрос" value="{{ query }}">
      <button type="submit" class="icon-button">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <circle cx="11" cy="11" r="8"/>
          <line x1="17" y1="17" x2="22" y2="22"/>
        </svg>
      </button>
    </div>
  </form>
</div>
  <div class="container">
    {% for product in products %}
      <div class="product-card">
        <div class="tags">
            {% for rating in product.ratings.all %}
              {% for tag in rating.taste_tags.all %}
                  <a href="{% url 'product_list_by_tag' slug=tag.slug %}">
                    <span class="tag" data-type="{{ tag.slug }}">#{{ tag.name }}</span>
                  </a>
              {% endfor %}
            {% endfor %}
        </div>
        <div class="card-content">
          <div class="product-image">
            <img src="{{ product.img_field.url }}"
                 alt="Фото продукта">
            {% for rating in product.ratings.all %}
            <div class="rating">{{ rating.rate }}★</div>
            {% endfor %}
          </div>
          <div class="product-info">
            <div class="product-name">{{ product.name }}</div>
            <div class="company-name">{{ product.company.name }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="fixed-footer">
  <ul>
    <li>
      <a href="{% url 'product_list' %}" title="Главная"
         class="{% if request.path == '/list/' %}active{% endif %}">
        <svg viewBox="0 0 24 24">
          <path d="M3 10L12 3L21 10V21H3V10Z"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" title="Создать"
      class="{% if request.path == '/#' %}active{% endif %}">
        <svg viewBox="0 0 24 24">
          <path d="M12 5V19M5 12H19"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" title="Контакты"
      class="{% if request.path == '/#' %}active{% endif %}">
        <svg viewBox="0 0 24 24">
          <path d="M21 10.5V6A2 2 0 0 0 19 4H5A2 2 0 0 0 3 6V18A2 2 0 0 0 5 20H19A2 2 0 0 0 21 18V13.5"/>
          <path d="M16 3.5V7.5"/>
          <path d="M8 3.5V7.5"/>
        </svg>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
</html>