{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'search_hub/css/search_page.css' %}">
{% endblock %}
{% block content %}
<div class="search-bar">
  <form action="{% url 'search_hub:product_search' %}" method="get">
    {{ form.query }}
    <button type="submit">Искать</button>
  </form>
  <div class="product-card">
      {% for product in products %}
        {% include 'food_hub/partials/product_card.html'%}
      {% endfor %}
  </div>
</div>
{% endblock %}