{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'search_hub/css/search_page.css' %}">
  <link rel="stylesheet" href="{% static '/css/product_card.css' %}">
{% endblock %}
{% block extra_js %}                                                                              
  <script src="{% static 'js/search_cross.js' %}"></script>                                       
{% endblock %}  

{% block content %}
<form class="search-panel" action="{% url 'search_hub:product_search' %}" method="get" novalidate>
  <div class="search-bar">
    <label for="{{ form.query.id_for_label }}" class="visually-hidden"></label>
    <div class="search-input-wrapper">
      {{ form.query }}
      <span class="icon-search" aria-hidden="true"></span>
      <span class="icon-clear" id="clear-search" aria-hidden="true">&times;</span>
    </div>
  </div>

  <fieldset class="tag-selector" aria-labelledby="tags-legend">
    <legend id="tags-legend" class="visually-hidden"></legend>
    <div class="tag-scroll-wrapper">
      {{ tag_selector.tags }}
    </div>

    <div class="action-buttons">
      <button type="submit" name="action" value="apply" class="btn secondary">Применить</button>
      <button type="submit" name="action" value="clear" class="btn" action="{% url 'search_hub:product_search' %}"> Сбросить </button>
    </div>
  </fieldset>
</form>

<div class="product-grid">
  {% for product in products %}
    {% include 'food_hub/partials/product_card.html' %}
  {% empty %}
    <p class="empty">Ничего не найдено. Попробуйте изменить запрос или теги.</p>
  {% endfor %}
</div>
{% endblock %}
