.fixed-footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; /* важно */
  padding: 0;
  margin: 0;
  list-style: none;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.fixed-footer svg {
  width: 28px;
  height: 28px;
  stroke-width: 2;
}
