<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'food_hub/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block footer %}
      <div class="fixed-footer">
  <ul>
    <li>
      <a href="{% url 'product_list' %}" title="Главная"
         class="{% if request.path == '/list/' %}active{% endif %}">
        <svg viewBox="0 0 24 24">
          <path d="M3 10L12 3L21 10V21H3V10Z"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="{% url 'add_product' %}" title="Создать"
      class="{% if request.path == '/#' %}active{% endif %}">
        <svg viewBox="0 0 24 24">
          <path d="M12 5V19M5 12H19"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" title="Контакты"
      class="{% if request.path == '/#' %}active{% endif %}">
        <svg viewBox="0 0 24 24">
          <path d="M21 10.5V6A2 2 0 0 0 19 4H5A2 2 0 0 0 3 6V18A2 2 0 0 0 5 20H19A2 2 0 0 0 21 18V13.5"/>
          <path d="M16 3.5V7.5"/>
          <path d="M8 3.5V7.5"/>
        </svg>
      </a>
    </li>
  </ul>
</div>
    {% endblock %}
</body>
</html>