{% load static %}
      <div class="container">
        <div class="tags">
          {% if product.tag_names %}
            {% for name in product.tag_names %} 
              #{{ name }}
            {% endfor %}
          {% endif %}
        </div>
        <div class="card-content">
          <div class="product-image">
              {% if product.img_field %}
                <img src="{{ product.img_field.url }}" alt="Фото продукта">
              {% else %}
                <img src="{% static 'images/default.png' %}" alt="Нет фото">
              {% endif %}
                {% for rating in product.ratings.all %}
                  <div class="rating">{{ rating.rate }}★</div>
                {% empty %}
                {% endfor %}
          </div>
          <div class="product-info">
            <div class="product-name">{{ product.name }}</div>
            <div class="company-name">{{ product.company.name }}</div>
          </div>
        </div>
      </div>