{% load static %}
<div class="pcard">
    <div class="pcard__image">
        {% if product.img_field %}
            <img src="{{ product.img_field.url }}" alt="Фото продукта">
        {% else %}
            <img src="{% static 'images/default.png' %}" alt="Нет фото">
        {% endif %}
    </div>
    <div class="pcard__body">
        <div class="pcard__name">{{ product.name }}</div>
        <div class="pcard__tags">
            {% for name in product.tag_names %}
                <span class="pcard__tag">{{ name }}</span>
            {% endfor %}
        </div>
        <div class="pcard__bottom">
            <div class="pcard__stars">
                {% with rating=product.ratings.first %}
                {% if rating %}
                    {% for i in "12345" %}
                        {% if forloop.counter <= rating.rate %}
                            <img src="{% static 'rate_food/icons/star-icon-active.svg' %}" class="pcard__star" alt="">
                        {% else %}
                            <img src="{% static 'rate_food/icons/star-icon.svg' %}" class="pcard__star" alt="">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>