{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'rate_food/css/product_card.css' %}">
<link rel="stylesheet" href="{% static 'rate_food/css/rate_selector.css' %}">
<link rel="stylesheet" href="{% static 'rate_food/css/tag_selector.css' %}">
{% endblock %}
{% block title %}Добавление продукта{% endblock %}
{% block content %}

  {% include 'food_hub/partials/product_card.html' %}
  {% csrf_token %}
  <div
    id="tags-container"
    hx-get="{% url 'rate_food:add_rate' %}"
    hx-trigger="load"
    hx-target="#tags-container"
    hx-swap="innerHTML">
  </div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'rate_food/js/rate_selector.js' %}"></script>
{% endblock %}
